ISSUER=https://identity.domain.lan/
AUTHORIZATION_ENDPOINT=https://identity.domain.lan//protocol/openid-connect/auth
TOKEN_ENDPOINT=https://identity.domain.lan//protocol/openid-connect/token
INTROSPECTION_ENDPOINT=https://identity.domain.lan//protocol/openid-connect/token/introspect
USERINFO_ENDPOINT=https://identity.domain.lan//protocol/openid-connect/userinfo
END_SESSION_ENDPOINT=https://identity.domain.lan//protocol/openid-connect/logout
