- name: Gathering facts
  ansible.builtin.setup:

- name: Install node exporter
  tags:
    - observability
  block:
    - name: Create a node exporter user
      ansible.builtin.user:
        name: metrics
        create_home: true
        shell: /bin/rbash  # Restricted shell
    - name: Identify material architecture # noqa: no-changed-when
      ansible.builtin.command: "dpkg --print-architecture"
      register: arch
    - name: Download binary # noqa: yaml[line-length]
      ansible.builtin.get_url:
        dest: /home/metrics
        mode: '0755'
        owner: metrics
        group: metrics
        url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}\
              /node_exporter-{{ node_exporter_version }}.linux-{{ arch.stdout }}.tar.gz"
    - name: Decompress archive
      ansible.builtin.unarchive:
        src: /home/metrics/node_exporter-{{ node_exporter_version }}.linux-{{ arch.stdout }}.tar.gz
        remote_src: true
        dest: /home/metrics/
    - name: Move binary
      ansible.builtin.copy:
        dest: /usr/bin/node_exporter
        src: /home/metrics/node_exporter-{{ node_exporter_version }}.linux-{{ arch.stdout }}/node_exporter
        remote_src: true
        mode: "0755"
    - name: Create systemd conf file
      ansible.builtin.template:
        src: templates/node-exporter.service.j2
        dest: /etc/systemd/system/node-exporter.service
        mode: '0744'
    - name: Create node-exporter web config
      ansible.builtin.template:
        src: templates/node-exporter.web.config.j2
        dest: /home/metrics/node-exporter.web.config
        mode: '0750'
        owner: metrics
        group: metrics
    - name: Check if ufw is installed
      ansible.builtin.stat:
        path: /usr/sbin/ufw
      register: which_res
    - name: Allow inbound trafic to node_exporter
      community.general.ufw:
        rule: limit
        port: "{{ node_exporter_port }}"
        proto: tcp
      when: which_res.stat.exists
    - name: Enable and start service
      ansible.builtin.systemd_service:
        state: restarted
        daemon_reload: true
        enabled: true
        name: node-exporter
