- name: Gathering facts
  ansible.builtin.setup:

- name: Install node exporter
  block:
    - name: Create group metrics
      ansible.builtin.group:
        name: metrics
        gid: 62001
    - name: Create user metrics
      ansible.builtin.user:
        name: metrics
        system: true
        uid: 62001
        shell: /sbin/nologin
        create_home: false
        home: /nonexistent
        group: metrics
        password_lock: true
    - name: Download binary
      ansible.builtin.get_url:
        dest: /tmp
        mode: '0755'
        owner: metrics
        group: metrics
        url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}\
              /node_exporter-{{  node_exporter_version }}.linux-{{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }}.tar.gz"
    - name: Decompress archive
      ansible.builtin.unarchive:
        src: "/tmp/node_exporter-{{ node_exporter_version }}.linux\
              -{{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }}.tar.gz"
        remote_src: true
        dest: /tmp
    - name: Move binary
      ansible.builtin.copy:
        dest: /usr/local/bin/node_exporter
        src: "/tmp/node_exporter-{{ node_exporter_version }}.linux\
              -{{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }}/node_exporter"
        remote_src: true
        mode: "0751"
    - name: Create systemd conf file
      ansible.builtin.template:
        src: templates/node-exporter.service.j2
        dest: /etc/systemd/system/node-exporter.service
        mode: '0744'
    - name: Create node-exporter web config
      ansible.builtin.template:
        src: templates/node-exporter.web.config.j2
        dest: /etc/node-exporter.web.config
        mode: '0750'
        owner: metrics
        group: metrics
    - name: Enable and start service
      ansible.builtin.systemd_service:
        state: restarted
        daemon_reload: true
        enabled: true
        name: node-exporter

- name: Allow IN node-exporter port
  tags:
    - firewall
  nftables_rules:
    name: node-exporter
    input:
      - tcp dport {{ node_exporter_port }} accept comment "Accept Node-exporter IN"
  notify:
    - Restart Nftables
