- name: Gathering facts
  ansible.builtin.setup:

- name: "Include OS specific tasks"
  ansible.builtin.include_tasks:
    file: "{{ ansible_os_family | lower }}_tasks.yml"

- name: Allow incoming traffic IN 443
  tags:
    - firewall
  nftables_rules:
    name: nginx
    input:
      - tcp dport 443 accept comment "Accept HTTPS IN"
  notify:
    - Restart Nftables

- name: Remove Nginx default sites enabled conf
  ansible.builtin.file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Remove Nginx default sites available conf
  ansible.builtin.file:
    path: /etc/nginx/sites-available/default
    state: absent

- name: Copy Nginx sites conf
  ansible.builtin.template:
    src: templates/sites.conf.j2
    dest: /etc/nginx/sites-enabled/sites.conf
    mode: '0755'

- name: Copy SSL certificate
  ansible.builtin.copy:
    dest: /etc/ssl/certs/{{ inventory_hostname }}.crt
    content: "{{ ssl_cert }}"

- name: Copy SSL key
  ansible.builtin.copy:
    dest: /etc/ssl/private/{{ inventory_hostname }}.key
    content: "{{ ssl_key }}"

- name: Enable and start service
  ansible.builtin.systemd_service:
    state: restarted
    daemon_reload: true
    enabled: true
    name: nginx
