- name: Gathering facts
  ansible.builtin.setup:

- name: "Include OS specific tasks"
  ansible.builtin.include_tasks:
    file: "{{ ansible_os_family | lower }}_tasks.yml"

- name: Copy Loki pass
  block:
    - name: Create /var/lib/alloy/secrets
      ansible.builtin.file:
        path: /var/lib/alloy/secrets
        state: directory
        owner: alloy
        group: alloy
        mode: '0770'
    - name: Copy loki secret in folder
      ansible.builtin.copy:
        dest: /var/lib/alloy/secrets/loki_pass
        owner: root
        group: alloy
        mode: '0660'
        content: "{{ alloy.loki_pass }}\n"

- name: Configure Alloy
  ansible.builtin.template:
    src: templates/config.alloy.j2
    dest: /etc/alloy/config.alloy
    mode: "0644"
    owner: root
    group: root

- name: Enable and start alloy.service
  ansible.builtin.systemd_service:
    state: restarted
    daemon_reload: true
    enabled: true
    name: alloy
