- name: Install additional utils packages
  ansible.builtin.apt:
    pkg:
      - console-data

- name: Install OMV Plugins
  ansible.builtin.apt:
    pkg:
      - openmediavault-md
      - openmediavault-k8s
      - openmediavault-clamav
      - openmediavault-filebrowser
      - openmediavault-sharerootfs

# RAID confiuration
- name: Check if RAID array already exists
  ansible.builtin.command:
    cmd: omv-sysinfo 30-mdadm
  register: array

- name: Create RAID 5 volume
  ansible.builtin.command:
    cmd: omv-mkraid /dev/md0 -l 5 -n 3 {{ raid5_devices | join(' ') }}
  when: 'raid5_devices is defined and "md0" "".join(array.stdout)'

- name: Create RAID 1 volume
  ansible.builtin.command:
    cmd: omv-mkraid /dev/md1 -l 1 -n 2 {{ raid1_devices | join(' ') }}
  when: 'raid1_devices is defined and "md1" not in "".join(array.stdout)'


# HTTPS configuration
- name: SSL configuration
  block:
    - name: Copy SSL intermediary certificate
      ansible.builtin.copy:
        dest: /etc/ssl/certs/omv-intermediary.crt
        content: "{{ ssl_intermediary_cert }}"
        owner: root
        mode: "0644"

    - name: Copy SSL intermediary key
      ansible.builtin.copy:
        dest: /etc/ssl/private/omv-intermediary.key
        content: "{{ ssl_intermediary_key }}"
        owner: root
        mode: "0600"

    - name: Copy leaf certs generation script
      ansible.builtin.copy:
        src: ./files/generate-leaf-from-intermediary.sh
        dest: /usr/local/bin/generate-leaf-from-intermediary
        owner: root
        mode: "0755"

    - name: Generate leaf certificate
      ansible.builtin.command:
        argv:
          - generate-leaf-from-intermediary

    - name: Get leaf cert content
      ansible.builtin.slurp:
        src: /etc/ssl/certs/omv.crt
      register: leaf_cert_content

    - name: Copy SSL certificate full chain
      ansible.builtin.copy:
        dest: /etc/ssl/certs/omv-chain.crt
        content: "{{ leaf_cert_content.content | b64decode }}{{ ssl_intermediary_cert }}{{ ca_cert }}"
        owner: root
        mode: "0644"

    - name: Copy update script
      ansible.builtin.copy:
        src: ./files/omv-ssl-update-certs.sh
        dest: /usr/local/bin/omv-ssl-update-certs
        owner: root
        mode: "0755"

    - name: Update SSL certs
      ansible.builtin.command:
        argv:
          - omv-ssl-update-certs

    - name: Generate kube CA secret manifest
      ansible.builtin.template:
        src: templates/ca-omv-cluster.yml.j2
        dest: /etc/ssl/private/ca-omv-cluster.yml
        mode: "0600"
        owner: root
        group: root

- name: Set discord notifications
  when: webhook_url is defined
  block:
    - name: Install curl
      ansible.builtin.apt:
        pkg:
          - curl
    - name: Copy script
      ansible.builtin.template:
        src: templates/20discord.j2
        dest: /usr/share/openmediavault/notification/sink.d/20discord
        mode: "0755"
        owner: root
        group: root

- name: Set scheduled archiving for Saved Persistent Volume Claims
  block:
    - name: Install tooling
      ansible.builtin.apt:
        pkg:
          - lbzip2
    - name: Copy archive password
      ansible.builtin.template:
        src: templates/archiving_password.j2
        dest: /root/.archive_password
        owner: root
        group: root
        mode: "0600"
    - name: Copy archiving script
      ansible.builtin.copy:
        src: ./files/k3s-archive-saved-pvc.sh
        dest: /usr/local/bin/k3s-archive-saved-pvc
        owner: root
        group: root
        mode: "0500"
    - name: Copy unused PVC listing script
      ansible.builtin.copy:
        src: ./files/k3s-list-unused-pvc.sh
        dest: /usr/local/bin/k3s-list-unused-pvc
        owner: root
        group: root
        mode: "0500"

- name: Fix TooMany opened file error
  block:
    - name: Increase file limits for user space
      ansible.builtin.lineinfile:
        path: /etc/systemd/user.conf
        search_string: "DefaultLimitNOFILE"
        line: 'DefaultLimitNOFILE=4096:524288'
    - name: Increase file limits for system space
      ansible.builtin.lineinfile:
        path: /etc/systemd/system.conf
        search_string: "DefaultLimitNOFILE"
        line: 'DefaultLimitNOFILE=4096:524288'
    - name: Increase system-wide file limits
      ansible.builtin.lineinfile:
        path: /etc/sysctl.d/99-sysctl.conf
        search_string: "fs.file-max"
        line: 'fs.file-max = 131071'
    - name: Increase system-wide file limits 
      ansible.builtin.lineinfile:
        path: /etc/sysctl.d/99-sysctl.conf
        line: 'fs.inotify.max_user_instances = 256'
