- name: Gathering facts
  ansible.builtin.setup:

- name: "Install docker"
  ansible.builtin.include_tasks:
    file: "../../docker/tasks/main.yml"

- name: Pull technitium image
  community.docker.docker_image:
    name: technitium/dns-server:{{ technitium_image_tag }}
    source: pull

- name: Disable systemd-resolved
  ansible.builtin.systemd_service:
    state: stopped
    daemon_reload: true
    enabled: false
    name: systemd-resolved

- name: Drop symlink to /run/systemd/resolve/stub-resolv.conf
  ansible.builtin.file:
    path: "/etc/resolv.conf"
    state: absent

- name: Create systemd config file
  ansible.builtin.template:
    src: templates/technitium.service.j2
    dest: /etc/systemd/system/technitium.service
    mode: '0700'

- name: Set system's DNS servers globally
  ansible.builtin.lineinfile:
    path: "/etc/resolv.conf"
    line: 'nameserver {{ item }}'
    create: true
    state: present
    owner: root
    group: root
    mode: '0644'
  loop:
    - "{{ ansible_facts['default_ipv4']['address'] }}"
    - "8.8.8.8"

- name: Firewall setting for node exporter
  tags:
    - firewall
  block:
    - name: Allow IN dns port
      nftables_rules:
        name: dns
        input:
          - udp dport 53 accept comment "Accept DNS IN"
          - tcp dport 53 accept comment "Accept DNS TCP IN"
          - tcp dport 5380 accept comment "Accept Technitium Admin Console IN"
      notify:
        - Restart Nftables

- name: Enable and start service
  ansible.builtin.systemd_service:
    state: restarted
    daemon_reload: true
    enabled: true
    name: technitium.service

- name: "Post install"
  ansible.builtin.include_tasks:
    file: "post_tasks/main.yml"
