SEAFILE_DOMAIN=file.enki.sin
SEAFILE_MATCH=Host(`file.enki.sin`) && PathPrefix(`/`)
# WARN: same domain as SEAFILE_MATCH with PathPrefix(`/seafhttp`)
SEAFILE_DATA_MATCH=Host(`file.enki.sin`) && PathPrefix(`/seafhttp`) 
SEAFILE_STORAGE_SIZE=100Gi
