apiVersion: v1
kind: Secret
metadata:
  name: ca-cluster
  namespace: cert-manager
type: Opaque
data:
  tls.crt: {{ (cluster_ca_cert+ca_cert)|b64encode }}
  tls.key: {{ cluster_ca_key|b64encode }}
  ca.crt: {{ ca_cert|b64encode }}
