# Modify ATTR{address} with MAC of the network interface and NAME paramter with the new desired name.

{% for nic in nics %}
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{nic.mac}}", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="{{nic.name}}" 
{% endfor %}