#!/usr/sbin/nft -f

flush ruleset

define LAN_CIDR4 = {{ lan_cidr4 }}
define WAN_IF = "eth0"

table inet filter {
    set local4 {
        type ipv4_addr
        elements = { 127.0.0.1, {{ ansible_facts['default_ipv4']['address'] }} } 
    }

    chain input {
        type filter hook input priority 0; policy drop;
        # Allow loopback traffic.
        iifname lo accept
        icmp type echo-request limit rate 5/second accept  # Allow ping

        include "/etc/nftables.d/input.*.rules"

        ct state established,related accept
        log prefix "NFTABLES-INPUT: " #trace dropped traffic (use journalctl -k --grep="INPUT")
        counter drop #count and drop
    }
    chain forward {
        type filter hook forward priority 0; policy drop;
        ip saddr $LAN_CIDR4 ip daddr $LAN_CIDR4 icmp type { echo-reply, echo-request} accept comment "allow icmp"
        include "/etc/nftables.d/forward.*.rules"

        ct state established,related accept
        log prefix "NFTABLES-FORWARD: "
        counter drop #count and drop
    }
    chain output {
        type filter hook output priority 0; policy drop;
        # Allow loopback traffic.
        oifname lo accept
        ip saddr @local4 ip daddr @local4 accept
        icmp type echo-request counter accept
        icmpv6 type echo-request counter accept

        include "/etc/nftables.d/output.*.rules"

        ct state established,related accept
        log prefix "NFTABLES-OUTPUT: " #trace dropped traffic (use journalctl -k --grep="OUTPUT")
        counter drop #count and drop
    }
}
table inet nat {
    chain postrouting {
        type nat hook postrouting priority 100; policy accept;
        include "/etc/nftables.d/postrouting.*.rules"
    }
}