apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: searxng
  namespace: searxng
  annotations:
    defaultVolumeType: local
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
