GRAFANA_DOMAIN=observability.domain.lan
GRAFANA_MATCH=Host(`observability.domain.lan`) && PathPrefix(`/`)
GRAFANA_ROOT_URL=https://observability.domain.lan
LOKI_MATCH=Host(`observability.domain.lan`) && PathPrefix(`/loki`)
