apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: alloy
  name: alloy
  namespace: observability
spec:
  selector:
    matchLabels:
      app: alloy
  template:
    metadata:
      labels:
        app: alloy
    spec:
      serviceAccountName: alloy
      securityContext:
        fsGroup: 473
        supplementalGroups:
          - 0
      containers:
        - name: alloy
          image: alloy
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 50m
              memory: 100Mi
            limits:
              cpu: 200m
              memory: 400Mi
          env:
            - name: CLUSTER_NAME
              valueFrom:
                secretKeyRef:
                  name: grafana-secrets
                  key: CLUSTER_NAME
          volumeMounts:
            - mountPath: /etc/alloy/config.alloy
              name: alloy-config
              subPath: config.alloy
            - mountPath: /var/secrets/PASSWORD
              name: loki-secrets
              subPath: PASSWORD
      volumes:
        - name: alloy-config
          configMap:
            name: alloy-config
        - name: loki-secrets
          secret:
            secretName: loki-secrets
