server {
    listen 80 default_server;
    server_name _;
    return 301 https://$host$request_uri;
}

{% for service in reverse_proxy %}
server {
    listen      443 ssl;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_certificate /etc/ssl/certs/{{ inventory_hostname }}.crt;
    ssl_certificate_key /etc/ssl/private/{{ inventory_hostname }}.key;
    ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384';
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    server_name {{ service.service_name }}.{{ inventory_hostname }};
    location ~ {
        proxy_buffering off;
        proxy_pass_header Authorization;
        proxy_pass http://{{ ansible_facts['default_ipv4']['address'] }}:{{ service.port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_read_timeout 36000s;
        proxy_redirect off;
    }
}

{% endfor %}
