// For a full configuration reference, see https://grafana.com/docs/alloy
logging {
  level = "warn"
}

local.file "loki_password" {
  filename  = "/var/lib/alloy/secrets/loki_pass"  
  is_secret = true
}

loki.write "default" {
  endpoint {
    url = "{{ alloy.loki_url }}/api/v1/push"
    basic_auth {
      username = "loki"
      password = local.file.loki_password.content
    }
  }
}

local.file_match "syslog" {
  path_targets = [{
      __path__  = "/var/log/syslog",
      job       = "node/syslog",
      node_name = "{{ inventory_hostname }}",
      cluster   = "enki",
  }]
}

loki.process "syslog" {
    forward_to = [loki.write.default.receiver]
    // extract unit name from syslog
    stage.regex{
      expression = "^[0-9\\-T:\\.\\+]*\\s\\w*\\s(?<_unit>\\w*)"
      labels_from_groups = true
    }
}

loki.source.file "syslog" {
  targets = local.file_match.syslog.targets
  forward_to = [loki.process.syslog.receiver]
}
