// For a full configuration reference, see https://grafana.com/docs/alloy
logging {
  level = "warn"
}

local.file "loki_password" {
  filename  = "/var/lib/alloy/secrets/loki_pass"  
  is_secret = true
}

loki.relabel "journal" {
  forward_to = []
  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }
  rule {
    source_labels = ["__journal__syslog_identifier"]
    target_label  = "syslog"
  }
}

loki.write "default" {
  endpoint {
    url = "{{ alloy.loki_url }}/api/v1/push"
    basic_auth {
      username = "loki"
      password = local.file.loki_password.content
    }
  }
}

loki.source.journal "journalctl" {
  forward_to    = [loki.write.default.receiver]
  relabel_rules = loki.relabel.journal.rules
  labels        = {node_name = "{{ inventory_hostname }}"}
}
