- name: Gathering facts
  ansible.builtin.setup:

- name: Identify motherboard family
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      lshw -json -class system | jq -r '.[0].product' |  awk '{print $1}'
    executable: /bin/bash
  changed_when: false
  register: k3s_motherboard_family
  ignore_errors: true

- name: "Include OS/Motherboard specific tasks"
  ansible.builtin.include_tasks:
    file: "{{ ansible_distribution | lower }}-{{ k3s_motherboard_family.stdout | lower }}_tasks.yml"
  when: k3s_motherboard_family is succeeded

- name: Copy helper scripts
  ansible.builtin.copy:
    src: files/k3s-list-unused-pvc.sh
    dest: /usr/local/bin/k3s-list-unused-pvc
    owner: root
    group: root
    mode: '0771'

- name: K3s firewall tuning
  tags:
    - firewall
  nftables_rules:
    name: k3s
    input:
      - tcp dport 6443 accept comment "Accept Kubernetes API"
      - tcp dport 8443 accept comment "Accept HTTPS ingress"
      - tcp dport 9100 accept comment "Accept Traefik metrics"
      - iifname "cni0" ip daddr {{ ansible_facts['default_ipv4']['address'] }} accept comment "K3S to host communication"
    forward:
      - iifname "cni0" accept comment "K3s forward from cni0"
      - oifname "cni0" accept comment "K3s forward to cni0"
    output:
      - ip saddr 10.42.0.0/15 ip daddr 10.42.0.0/15 accept comment "K3S internal communication"
  notify:
    - Restart Nftables

- name: Create k8s application service accounts
  block:
    - name: Create group k8s-application
      ansible.builtin.group:
        name: k8s-application-{{ idx }}
        gid: 6100{{ idx }}
      loop: "{{ range(0, 10) | list }}"
      loop_control:
        index_var: idx
    - name: Create user k8s-application
      ansible.builtin.user:
        name: k8s-application-{{ idx }}
        system: true
        uid: 6100{{ idx }}
        shell: /sbin/nologin
        create_home: false
        home: /nonexistent
        group: k8s-application-{{ idx }}
        password_lock: true
      loop: "{{ range(0, 10) | list }}"
      loop_control:
        index_var: idx

- name: Settings inotify
  block:
    - name: Set inotify.max_user_instances
      ansible.posix.sysctl:
        name: fs.inotify.max_user_instances
        value: '256'
        sysctl_file: /etc/sysctl.d/81-inotify.conf
        reload: true

- name: Install and configure k3s
  block:
    - name: Download installation script
      ansible.builtin.get_url:
        url: https://get.k3s.io
        dest: /usr/local/bin/get-k3s
        owner: root
        group: root
        mode: '0755'
    - name: Installation
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: >
             INSTALL_K3S_EXEC='server
             --disable=traefik
             --disable servicelb
             --tls-san {{ inventory_hostname }}
             --node-name {{ inventory_hostname }}
             --cluster-cidr=10.42.0.0/16
             --service-cidr=10.43.0.0/16'
             /usr/local/bin/get-k3s
      changed_when: false

- name: Cluster SSL setting
  block:
    - name: Generate kube CA secret manifest
      ansible.builtin.template:
        src: templates/ca-cluster.yml.j2
        dest: '{% if ansible_os_family == "RedHat" %}/etc/pki/tls/private{% else %}/etc/ssl/private{% endif %}/ca-cluster.yml'
        mode: "0600"
        owner: root
        group: root
    - name: Kubectl create cert-manager namespace # noqa: ignore-errors
      ansible.builtin.command:
        argv:
          - kubectl
          - create
          - ns
          - cert-manager
      changed_when: false
      ignore_errors: true
    - name: Kubectl apply ca-cluster.yml
      ansible.builtin.command:
        argv:
          - kubectl
          - apply
          - -f
          - '{% if ansible_os_family == "RedHat" %}/etc/pki/tls/private{% else %}/etc/ssl/private{% endif %}/ca-cluster.yml'
      changed_when: false

- name: Set saved PVC archiving
  when: k3s.pvc_archive_password is defined and storage.btrfs is defined
  block:
    - name: Create archive folder on persistent storage
      ansible.builtin.file:
        path: /srv/{{ storage.btrfs.0.name }}/saved-pvc
        owner: root
        group: root
        mode: '0770'
        state: directory
    - name: Copy archive password
      ansible.builtin.template:
        src: templates/archiving_password.j2
        dest: /root/.archive_password
        owner: root
        group: root
        mode: "0600"
    - name: Copy archiving script
      ansible.builtin.copy:
        src: ./files/k3s-archive-saved-pvc.sh
        dest: /usr/local/bin/k3s-archive-saved-pvc
        owner: root
        group: root
        mode: "0500"
    - name: Cron archive PVC
      ansible.builtin.cron:
        name: Archive PVC on {{ storage.btrfs.0.name }}
        month: '*'
        day: "5"
        minute: "0"
        hour: "3"
        user: root
        job: "/usr/local/bin/k3s-archive-saved-pvc /srv/{{ storage.btrfs.0.name }}/saved-pvc"
        cron_file: archive_pvc_on_{{ storage.btrfs.0.name }}
