- name: Gathering facts
  ansible.builtin.setup:

- name: Identify motherboard family
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      lshw -json -class system | jq -r '.[0].product' |  awk '{print $1}'
    executable: /bin/bash
  changed_when: false
  register: k3s_motherboard_family
  ignore_errors: true

- name: "Include OS/Motherboard specific tasks"
  ansible.builtin.include_tasks:
    file: "{{ ansible_distribution | lower }}-{{ k3s_motherboard_family.stdout | lower }}_tasks.yml"
  when: k3s_motherboard_family is succeeded

- name: Install and configure k3s
  block:
    - name: Download installation script
      ansible.builtin.get_url:
        url: https://get.k3s.io
        dest: /usr/bin/get-k3s
        owner: root
        group: root
        mode: '0755'
    - name: Installation
      ansible.builtin.command:
        argv:
          - /usr/bin/get-k3s
      changed_when: false

- name: Cluster SSL setting
  block:
    - name: Generate kube CA secret manifest
      ansible.builtin.template:
        src: templates/ca-cluster.yml.j2
        dest: /etc/ssl/private/ca-cluster.yml
        mode: "0600"
        owner: root
        group: root
    - name: Kubectl create cert-manager namespace # noqa: ignore-errors
      ansible.builtin.command:
        argv:
          - kubectl
          - create
          - ns
          - cert-manager
      changed_when: false
      ignore_errors: true
    - name: Kubectl apply ca-cluster.yml
      ansible.builtin.command:
        argv:
          - kubectl
          - apply
          - -f
          - /etc/ssl/private/ca-cluster.yml
      changed_when: false
