apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: keycloak-provisionner
    newName: python
    newTag: 3.13.3-alpine3.20
  - name: keycloak
    newName: quay.io/keycloak/keycloak
    newTag: "26.5"
  - name: postgres
    newName: postgres
    newTag: 18.1-alpine3.23

generatorOptions:
  disableNameSuffixHash: true

resources:
  - certificate-keycloak.yml
  - cm-keycloak-main.yml
  - deploy-keycloak.yml
  - deploy-postgres.yml
  - ingressroute-keycloak.yml
  - ns-identity.yml
  - pvc-postgres.yml
  - svc-keycloak.yml
  - svc-postgres.yml

configMapGenerator:
  - name: keycloak-provisioning
    namespace: identity
    files:
      - provisioning/provisioning.py
