apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres
  namespace: identity
  annotations:
    defaultVolumeType: local
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
