- name: Gathering facts
  ansible.builtin.setup:

- name: "Include OS specific tasks"
  ansible.builtin.include_tasks:
    file: "{{ ansible_os_family | lower }}_tasks.yml"

- name: Set persistent NIC names
  ansible.builtin.template:
    src: templates/70-persistent-net.rules.j2
    dest: /etc/udev/rules.d/70-persistent-net.rules
    mode: '0755'

- name: Allow SSH inbound trafic
  community.general.ufw:
    rule: limit
    port: ssh
    proto: tcp
  when: knock_ports is not defined

- name: Set port knocking for SSH inbound trafic
  when: knock_ports is defined
  block:
    - name: Edit conf file
      ansible.builtin.template:
        src: templates/knockd.conf.j2
        dest: /etc/knockd.conf
        mode: '0755'
    - name: Enable START_KNOCKD
      ansible.builtin.replace:
        path: /etc/default/knockd
        regexp: '^START_KNOCKD=\d$'
        replace: START_KNOCKD=1
    - name: Set Interface
      ansible.builtin.replace:
        path: /etc/default/knockd
        regexp: '^#KNOCKD_OPTS="-i \w+"$'
        replace: KNOCKD_OPTS="-i {{ ansible_default_ipv4.interface }}"
    - name: Enable and start service
      ansible.builtin.systemd_service:
        state: started
        daemon_reload: true
        enabled: true
        name: knockd.service

- name: Set additional SSH keys
  when: ssh_keys is defined
  ansible.builtin.lineinfile:
    path: "/home/{{ ansible_env.SUDO_USER }}/.ssh/authorized_keys"
    line: '{{ item }}'
  loop: "{{ ssh_keys | list }}"

- name: Set logging
  community.general.ufw:
    state: enabled
    logging: 'on'

- name: Enable AppArmor
  ansible.builtin.systemd_service:
    state: restarted
    daemon_reload: true
    enabled: true
    name: apparmor

- name: "Post install"
  ansible.builtin.include_tasks:
    file: "post_tasks/main.yml"
