- name: Install docker
  community.general.pacman:
    name:
      - docker
      - docker-compose
      - docker-buildx
    state: present

- name: Start and enable docker service
  ansible.builtin.systemd_service:
    state: restarted
    daemon_reload: true
    enabled: true
    name: docker

- name: Install Docker SDK for Python
  ansible.builtin.pip:
    name:
      - requests
      - docker
    break_system_packages: true

- name: Download ufw-docker
  ansible.builtin.get_url:
    dest: /usr/local/bin/ufw-docker
    owner: root
    group: root
    url: https://github.com/chaifeng/ufw-docker/raw/master/ufw-docker
    mode: '0770'

- name: Add to ufw after.rules
  ansible.builtin.command:
    cmd: ufw-docker install

- name: Resart ufw
  ansible.builtin.systemd_service:
    state: restarted
    daemon_reload: true
    enabled: true
    name: ufw