- name: Install docker
  community.general.pacman:
    name:
      - docker
      - docker-compose
      - docker-buildx
    state: present

- name: Start and enable docker service
  ansible.builtin.systemd_service:
    state: restarted
    daemon_reload: true
    enabled: true
    name: docker

- name: Install Docker SDK for Python
  ansible.builtin.pip:
    name:
      - requests
      - docker
    break_system_packages: true
