#!/bin/sh

# Compare public IP with the one stored from a previous execution
# and notify changes through a discord webhook (DISCORD_WEBHOOK_URL).
# Handles both IPV4 and IPV6 (see IP_VERSION)
#

DISCORD_WEBHOOK_URL="{{ wireguard.public_ip_tracking.webhook_url }}"
IP_VERSION={{ wireguard.public_ip_tracking.ip_version }}
HOSTNAME={{ inventory_hostname }}


LAST_IP_STORE=/tmp/.last_public_ipv$IP_VERSION


if [ $IP_VERSION = 4 ]; then
    public_ip=$(curl -4 https://ifconfig.co)
elif [ $IP_VERSION = 6 ]; then
    public_ip=$(curl -6 https://ifconfig.co)
else
    echo "Unknown IP version, exiting with failed status"
    exit 1
fi

if [ -e $LAST_IP_STORE ]; then
    if [ $(cat $LAST_IP_STORE) != $public_ip ]; then 
        NOTIFY=1
        echo $public_ip > $LAST_IP_STORE
    fi
else
    echo "Creating $LAST_IP_STORE"
    echo $public_ip > $LAST_IP_STORE
    NOTIFY=1
fi

if [ $NOTIFY = 1 ]; then
    echo "Public IP changed, sending notification"
    content="[$HOSTNAME] Wireguard public endpoint changed: $public_ip"
    curl -X POST --data "{\"content\": \"$content\"}" --header "Content-Type:application/json" $DISCORD_WEBHOOK_URL
fi
