[Unit]
Description=Prometheus WireGuard Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=metrics
Group=metrics
Type=simple
Restart=on-failure
ExecStart=/usr/bin/prometheus_wireguard_exporter -r true -s true -a true -d true -v false \
-n {% for item in wireguard.interfaces %} /usr/share/wireguard/{{ item.interface }}.peers {% endfor %} 
PrivateTmp=yes
ProtectHome=yes
ProtectControlGroups=yes
UMask=077
RemoveIPC=yes
BindReadOnlyPaths=/dev/log /run/systemd/journal/socket /run/systemd/journal/stdout
ProtectSystem=strict
ProtectProc=noaccess
LogLevelMax=4

[Install]
WantedBy=multi-user.target