route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'web.hook'

receivers:
  - name: 'web.hook'
    discord_configs: 
      - webhook_url: {{alert_webhook_url}}


# TODO: evaluate relevance
#inhibit_rules:
#  - source_matcher:
#      severity: 'critical'
#    target_matcher:
#      severity: 'warning'
#    equal: ['alertname', 'dev', 'instance']
