[Unit]
Description=Prometheus
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
RestartSec=10
Restart=always
ExecStartPre=/usr/bin/docker info
ExecStartPre=-/usr/bin/docker network inspect observability
ExecStartPre=-/usr/bin/docker network create observability
ExecStart=/usr/bin/docker run --rm --name %n \
    --network=observability \
    --user 1003 \
    -p 9090:9090 \
    -v /home/prometheus/data:/prometheus \
    -v /home/prometheus/conf:/etc/prometheus \
{% for node in groups["all"] %}
    --add-host={{ hostvars[node].inventory_hostname_short }}:{{ hostvars[node].ansible_default_ipv4.address }} \
{% endfor %}
    prom/prometheus:{{prometheus_image_tag}}
ExecStop=/usr/bin/docker stop %n
ExecStop=/usr/bin/docker rm %n
ExecStop=/usr/bin/docker network rm observability
[Install]
WantedBy=default.target
