[Unit]
Description=Prometheus
After=docker.service
Requires=docker.service

[Service]

TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull bitnami/prometheus:{{prometheus_image_tag}}
ExecStart=/usr/bin/docker run --rm --name %n \
    -v /home/prometheus/data:/opt/bitnami/prometheus/data \
    -p 9090:9090 \
    bitnami/prometheus:{{prometheus_image_tag}}

[Install]
WantedBy=default.target