[Unit]
Description=Node Exporter
StartLimitInterval=350
StartLimitBurst=10

[Service]
User=metrics
ExecStart=/usr/local/bin/node_exporter \
   --web.config.file=/etc/node-exporter.web.config \
   --collector.systemd \
   --collector.interrupts \
   --collector.processes \
   --collector.tcpstat \
{% if storage.btrfs is defined %}
   --collector.btrfs \
{% endif %}
   --web.listen-address=:{{ node_exporter_port }}
KillSignal=SIGINT
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
